body
{
    font-family: 'Dongle', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
#span1
{
    color: orange;
}
.heading
{
    font-size: 40px;
}
.container
{
    display: flex;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.half_width
{
    width: 50%;
    padding-left:40px ;
}
.half_width img
{
    width:70%;
    padding-top: 20px;
}
.half_width p
{
   text-align: justify;
   width: 70%;
}
#link1
{
    text-decoration: none;
    background-image: linear-gradient(yellow, orange,red);
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bolder;
}
#link2
{
    text-decoration: none;
    background-image: linear-gradient(green, yellow);
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bolder;
}
#p2
{
    margin-bottom: 30px;
    
}
.second_section
{
    display: flex;
    margin-top: 100px;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.third_section
{
    margin-top: 100px;
    margin-bottom: 100px;
   
}
#last_part
{
    display: flex;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
}
.developer
{
    width: 40%;
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 5px 30px hotpink;
}
.developer p
{
    text-align: justify;
    width: 90%;
}
.developer h3{
    color: orange;
}
#border1
{
    border-left: 5px solid;
    border-image: linear-gradient( blue, hotpink);
    border-image-slice:1;

    background-image: linear-gradient(skyblue, pink);
    border-radius: 10px;
}
#border2
{
    border-left: 5px solid;
    border-image: linear-gradient( orange, red);
    border-image-slice:1;

    background-image: linear-gradient(skyblue, pink);
    border-radius: 10px;
}
#experience
{
    padding-bottom: 50px;
}
#footer
{
    text-align: center;
}


